<body>
<h3>使用说明</h3>

<p>请访问 <a href="/convSign?appId=&masterKey=&selfId=">/convSign?appId=&masterKey=&selfId=</a> 来验证你的签名算法是否正确。</p>

<p>可选参数 convid、targetIds（用逗号分隔）、action、timestamp、nonce</p>
<a target="_blank" href="https://leancloud.cn/docs/realtime_v2.html#权限和认证">文档</a>
<p></p>

<h3>当前参数的结果</h3>

<p><%= result %></p>
</body>

